<div class="container content-center mx-auto">
<img class="self-center w-49 h-49" src={Routes.static_path(@conn, "/images/praxkit-logo.svg")} alt="PraxKit Logo">
  <h1 class="text-indigo-500 text-center"> <%= gettext "Hallo %{name}!", name: "Andrea" %></h1>
  <h1 class="text-indigo-500 text-5xl font-bold text-center">Die genial einfache Praxis App. </h1>
</div>
